.Carousel-container {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
  }
  
  .Carousel-button {
    background-color: chocolate;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .Carousel-content {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
  }
  